<%= render 'errors' %>

<%= form_for([current_user,@attendence]) do |f| %>
  <div class="container" style="padding-top: 60px;">
    <h1 class="page-header">Mark Your Attendence</h1>
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <form class="form-horizontal" role="form">
        <% if !current_user.admin %>
          <%= f.hidden_field :check_in_flag, value: false %>
          <%= f.hidden_field :user_id, value: current_user.id%>
          <div class="form-group">
            <label class="col-lg-3 control-label">Check Out</label>
            <div class="col-lg-4 input-group date timepicker">
              <%= f.text_field :check_out, class: "form-control" %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        <% else %>
          <div class="form-group">
            <label class="col-lg-3 control-label">Check_In</label>
            <div class="col-lg-4 input-group date timepicker">
              <%= f.text_field :check_in, class: "form-control" %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Check Out</label>
            <div class="col-lg-4 input-group date timepicker">
              <%= f.text_field :check_out, class: "form-control" %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">If late then reason</label>
            <div class="col-lg-8">
              <%= f.text_area :reason, autofocus: true, autocomplete: 'reason', class: 'form-control' %>
            </div>
          </div>
          <%= f.hidden_field :hours, value: hours_in_a_day(@attendence) %>
          <%= f.hidden_field :check_in_flag, value: false %>
          <%= f.hidden_field :user_id, value: current_user.id %>

        <% end %>
        <div class="form-group col-lg-3 col-lg-8">
          <%= f.submit(@attendence.new_record? ? "Check In" : "Check Out", class: 'btn btn-primary btn-xlarge') %>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-4 colormatch">
    [ <%= link_to "Cancel request and return", user_attendences_path %> ]
  </div>
<% end %>
