<div class="container">
	<div class="row">
    <div class="col-md-12">
      <div class="container-fluid well span10"  align="center">
				<% if current_user.attendences.count != 0 %>
					<h3><strong>Your Attendence in this Month</strong></h3>
        	<caption><h3><%= Time.now.strftime('%B %Y') %> </h3></caption>
					<div class="table-responsive">
						<ul class=" ml-auto pull-right">
							<% if !current_user.attendences.first.check_in_flag %>
			          <%= link_to "Check In", new_user_attendence_path(current_user), class: "btn btn-primary btn-xlarge" %>
			        <% else %>
		          	<%= link_to "Check Out", edit_user_attendence_path(current_user, current_user.attendences.first.id), class: "btn btn-primary btn-xlarge" %>
							<% end %>
			      </ul>
	          <table id="mytable" class="table table-bordred table-striped">
	            <thead>
	              <th>Name</th>
	              <th>Date</th>
	              <th>Check In</th>
	              <th>Check out</th>
	              <th>Created At </th>
	              <th>Hours</th>
	              <th>Actions</th>
	            </thead>
	            <% @attendences.each do |attendence| %>
	              <tbody>
	                <tr>
	                  <td><%= image_tag attendence.user.image.url(:thumb), class: "avatar img-circle img-thumbnail img-profile-size" %>  <%= attendence.user.name %></td>
	                  <td><%= attendence.date %></td>
	                  <td><%= attendence&.check_in&.strftime("%I:%M %p") %> </td>
	                  <td><%= attendence&.check_out&.strftime("%I:%M %p") %></td>
	                  <td><%= attendence.created_at.strftime("%Y-%m-%d %I:%M %p") %></td>
	                  <td><%= hours_in_a_day(attendence) %></td>
										<% if user_signed_in? && current_user.admin %>
	                  	<td><%= link_to "", edit_user_attendence_path(current_user, attendence), class:"btn btn-primary btn-xs glyphicon glyphicon-pencil" %>
												  <%= link_to "", user_attendence_path(current_user,attendence), method: :delete, class:"btn btn-danger btn-xs glyphicon glyphicon-trash", data: {confirm: "Are you sure you want to delete this record?"} %>
											    <%= link_to "Show", user_attendence_path(current_user,attendence) %></td>
										<% else %>
											<td><%= link_to "Show", user_attendence_path(current_user,attendence) %></td>
										<% end %>
									</tr>
	              </tbody>
	            <% end %>
	          </table>
						<div class="btn btn-primary btn-xlarge pull-right">
			        <%= link_to "Back", :back , id: 'edit_link' %>
			      </div>
	        </div>
				<% else %>
					<h3><strong>Employee has currently no attendance record.</strong></h3>
					<ul class="ml-auto pull-right">
						<%= link_to "Check In", new_user_attendence_path(current_user), class: "btn btn-primary btn-xlarge" %>
					</ul>
				<% end %>
      </div>
    </div>
  </div>
</div>
