<div class="navbar navbar-default navbar-bg">
  <div class="container">
    <%= link_to "Attendence Management System", homes_path, class: "navbar-brand" %>
    <div class="navbar-collapse collapse navbar-left" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Your Attendance", user_attendences_path(current_user), class: "nav-link" %></li>
          <% if current_user.admin %>
            <li class="nav-item"><%= link_to "Employees", users_path, class: "nav-link" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="navbar-collapse collapse navbar-right" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.admin? ? "Admin's Profile" : "My Profile" %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "View your profile", user_path(current_user) %></li>
              <li><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
